@import './partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
#app {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

#active {
    border-bottom: 2px solid #0282f9;
    color: #0282f9;
}