.footer-center {
    // background-image: url("../../img/footer-bg.jpg");
    background-color: #3f3f3f;
    width: 100%;
}
.footer-center-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    @include width-content;
    .list{
        width: 40%;
        height: 100%;
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        .white {
            color: white;
        }
        .gray {
            color: #5c716a;
        }
    }
    img {
        height: 140%;

    }
}