.footer-bottom {
    background-color: #303030;
    position: relative;
    z-index: 1;
    width: 100%;
}
.footer-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    @include width-content;
    .left, .right {
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
    }
}