.footer-bottom {
    background-color: darkgray;
    position: relative;
    z-index: 1;
    width: 100%;
}
.footer-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    @include width-content;
    .PROVA {
        background-color: violet;
        height: 100%;
        width: 100px;
    }
}